@charset "UTF-8";

/* Layout for Large Screens (and default for older browsers) */

header { height: 97px; }

header a.logo {
    position: absolute;
    width: 391px;
    height: 58px;
    top: 29px;
    right: 110px;
    background-image: url(../images/logo.png);
    transition: right .5s ease-in;
}

.page {
    max-width: 1700px;
    padding: 0px 50px 20px 50px;
    margin: 0px auto 0px auto;
    position: relative;
    display: compact;
    transition: padding .5s ease-in;
}

nav {
    position: absolute;
    top: 216px;
    width: 267px;
    display: block;
    float: left;
    height: 627px;
    background-image: url(../images/btn-rim.png);
}

nav ul { margin: 0; padding: 0; list-style: none; line-height: 104px; }

nav ul li {
    font-size: 0;
    display: block;
    cursor: pointer;
    background: url(../images/btn-black.png) no-repeat 4px 4px;
}

nav ul li a {
    text-decoration: none;
    line-height: 104px;
    display: block;
    height: 104px;
    width: 267px;
}

nav ul li:hover { background: url(../images/btn-yellow.png) no-repeat 4px 4px; transition: background .05s ease-in; }
nav ul li:active { background: url(../images/btn-red.png) no-repeat 4px 4px; }

:target {
    background: url(../images/btn-red.png) no-repeat 4px 4px;
}

.btn-news { background: url(../images/txt-news.png) no-repeat center; }
.btn-about { background: url(../images/txt-about.png) no-repeat center; }
.btn-contact { background: url(../images/txt-contact.png) no-repeat center; }
.btn-projects { background: url(../images/txt-projects.png) no-repeat center; }
.btn-blog { background: url(../images/txt-blog.png) no-repeat center; }
.btn-resume { background: url(../images/txt-resume.png) no-repeat center; }

.container {
    min-height: 675px;
    margin-left: 267px;
    border: 90px solid;
    -moz-border-image: url(../images/frame.png) 90 repeat;
    -webkit-border-image: url(../images/frame.png) 90 repeat;
    -o-border-image: url(../images/frame.png) 90 repeat;
    border-image: url(../images/frame.png) 90 fill repeat;
    background-clip: padding-box;
    overflow: hidden;
}

article {
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: rgba(255,255,255,1);
    box-shadow: 2px 2px 5px #ddd;
}

#sct-resume {
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: rgba(255,255,255,1);
    box-shadow: 2px 2px 5px #ddd;
}

section {
    margin: 5px;
}

article.project {
    display: inline-block;
}

article.news {
    width: auto;
}

.news .a-desc {
}

.project .a-desc {
    float: left;
    width: 54%;
}

.project .a-border {
    float: right;
    text-align: center;
    width: 45%;
    margin-right: auto;
    margin-left: auto;
}

.project .a-details {
    padding-left: 10px;
    margin: 50px 0 50px 0;
    display: inline-block;
    width: auto;
}

.project .a-image {
    float: left;
    margin: 15px;
    width: 140px;
    height: 90px;
    background-image: url(../images/im-plch-sm.png);
    background-color: rgba(221,221,221,1);
}

section h1 {
    font-family: "Lucida Console";
    font-size: 1.5em;
    font-weight: normal;
    color: #222;
    text-align: justify;
    margin: 1.5em 0 1.5em 0;
    text-indent: 15px;
    text-shadow: 2px 2px 0px rgba(255,255,255,1);
}

section h3 {
    font-family: "Lucida Console";
    font-size: 1.2em;
    font-weight: normal;
    color: #222;
    text-align: justify;
    margin: 0 0 1em 0;
    text-indent: 15px;
    text-shadow: 1px 1px 0px rgba(255,255,255,1);
}

#sct-landing h1 {
    font-family: "Lucida Console";
    font-size: 3em;
    font-weight: normal;
    color: #222;
    text-align: center;
    margin: 2.5em 0 0 0;
    text-shadow: 2px 2px 0px rgba(255,255,255,1);
}

#sct-landing p {
    font-family: "Verdana";
    text-indent: 0;
    font-size: 1.5em;
    font-weight: normal;
    color: #222;
    text-align: center;
    margin: 5em 5em 0 5em;
    line-height: 2.5em;
    text-shadow: 1px 1px 0px rgba(255,255,255,1);
}

#sct-blog .blog-info {
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: rgba(255,255,255,1);
    box-shadow: 2px 2px 5px #ddd;
}

#sct-blog .blog-info p {
    text-align: center;
}

#sct-resume article{
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: none;
}
