@charset "UTF-8";

/* Layout for Medium Screens */

header { height: 97px; }

header a.logo {
    position: absolute;
    width: 391px;
    height: 58px;
    top: 29px;
    right: 75px;
    background-image: url(../images/logo.png);
    transition: right .5s ease-in;
}

.page {
    max-width: 1300px;
    padding: 0px 15px 20px 15px;
    margin: 0px auto 0px auto;
    position: relative;
    display: compact;
    transition: padding .5s ease-in;
}

nav {
    position: absolute;
    top: 216px;
    width: 267px;
    display: block;
    float: left;
    height: 627px;
    background-image: url(../images/btn-rim.png);
}

nav ul { margin: 0; padding: 0; list-style: none; line-height: 104px; }

nav ul li {
    font-size: 0;
    display: block;
    cursor: pointer;
    background: url(../images/btn-black.png) no-repeat 5px 5px;
}

nav ul li a {
    text-decoration: none;
    line-height: 104px;
    display: block;
    height: 104px;
    width: 267px;
}

nav ul li:hover { background: url(../images/btn-yellow.png) no-repeat 5px 5px; transition: background .05s ease-in; }
nav ul li:active { background: url(../images/btn-red.png) no-repeat 5px 5px; }
nav ul li div { height: 104px; }

.btn-news { background: url(../images/txt-news.png) no-repeat center; }
.btn-about { background: url(../images/txt-aboutme.png) no-repeat center; }
.btn-contact { background: url(../images/txt-contact.png) no-repeat center; }
.btn-projects { background: url(../images/txt-projects.png) no-repeat center; }
.btn-blog { background: url(../images/txt-blog.png) no-repeat center; }
.btn-resume { background: url(../images/txt-resume.png) no-repeat center; }

.container {
    min-height: 675px;
    margin-left: 267px;
    background-color: #f9f9f9;

    border: 90px solid;
    -moz-border-image: url(../images/frame.png) 90 repeat;
    -webkit-border-image: url(../images/frame.png) 90 repeat;
    -o-border-image: url(../images/frame.png) 90 repeat;
    border-image: url(../images/frame.png) 90 fill repeat;
    background-clip: padding-box;
}

.content {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    -o-column-count: 1;
    column-count: 1;
}