@charset "UTF-8";

/* Layout Large Screens (default for older browsers) */

header {
	height: 97px;
	/*background: url(../images/logo.png) no-repeat right 0px;*/
}

header a.logo {
	width: 391px;
	height: 58px;
	top: 29px;
	right: 30px;
	background-image: url(../images/logo.png);
}

nav {
    position: absolute;
    top: 216px;
    width: 267px;
    display: block;
    float: left;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 104px;
}

nav ul li {
    font-size: 0;

    display: block;
    background-image: url(../images/btn-yellow.png);
}

article { padding: 60px 20px 10px 20px; }

.container {
    /*display: inline;*/
    /*position: relative;*/
    /*float: left;*/
    /*top: 97px;*/
    width: auto;
    min-width: 300px;
    min-height: 700px;
    height: 300px;
    margin-left: 267px;
    background-color: #f9f9f9;

    border: 90px solid;
    /*border-radius: 60px;*/
    overflow: hidden;
    background-clip: padding-box;
    -moz-border-image: url(../images/frame.png) 90 repeat;
    -webkit-border-image: url(../images/frame.png) 90 repeat;
    -o-border-image: url(../images/frame.png) 90 repeat;
    border-image: url(../images/frame.png) 90 fill repeat;
}

.content {
}

.container .promo {
	width: 33%;
	float: left;
	background-position: 0px 3px;
}

.container .promo .content { padding: 0px 30px 0px 70px; }

@media screen and (max-width: 990px) {
	footer { padding-left: 20px; }
}